<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'APP.title' | translate }} - {{ 'AUTOPLAY_PAGE.title' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <app-menu></app-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="steps[currentStep].type == 'welcome'">
    <ion-card-content>
        {{ 'AUTOPLAY_PAGE.description' | translate }}
        <ion-button expand="block" (click)="nextStep()">{{ 'AUTOPLAY_PAGE.start_playback' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="steps[currentStep].type == 'sceneText'">
    <ion-card-header>
      <ion-card-title #sceneTitle tabindex="0">{{ steps[currentStep].title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div [innerHtml]="steps[currentStep].description"></div>
      <ion-button expand="block" (click)="nextStep()">{{ 'AUTOPLAY_PAGE.play_scene' | translate }}</ion-button>
   </ion-card-content>
  </ion-card>

  <ion-card *ngIf="steps[currentStep].type == 'sceneVideo'">
      <ion-card-content>
        <div id="video"></div>
     </ion-card-content>
    </ion-card>
</ion-content>
